.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease-out, visibility 400ms ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  visibility: visible;
}
